%btn{
    padding: .9rem 2rem;
    margin: .5rem;
    border-radius: 5px;
    font-size: 2rem;
    color: set-text-color($primary-color);
    cursor: pointer;
    border: 0;
    outline: 0;
    font-weight: 600;
    transition: all .3s;
    &:hover{
        transform: scale(.95);
    }
}
.btn-primary{
    @extend %btn;
    background: lighten($primary-color, 20%);
}

.btn-secondary{
    @extend %btn;
    background: $secondary-color;
}