//* Footer-Global

.footer {
  @include flex(row, wrap, center, 3rem);
  height: 150px;
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top: 5px solid $secondary-color;
  .social {
    font-size: 5rem;
    color: $secondary-color;
    transition: all 0.3s;
    &:hover {
      transform: translateY(-1rem);
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    background-image: url("../images/footer-sm.png");
    .social {
      font-size: 2.8rem;
    }
  }
}
